*
{
    padding: 0px;
    margin: 0px;
}

body
{
    font-family: "Spartan";
    background-image: url("./Images/bg-pattern-top-desktop.svg");
    background-repeat: no-repeat;
}

main
{
    background-image: url("./Images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
    background-position-x: 200px; 
}

.Main
{
    margin: 7vmax;
}

.Flexrow1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Intro
{
    width: 30vw;
}

.Intro1
{
    font-size: 40px;
    font-weight: bold;
    color: hsl(300, 43%, 22%);
}

.Intro2
{
    font-size: 15px;
    color: hsl(303, 10%, 53%);
    margin-top: 10px;
}

.Grid
{
    display: grid;
    grid-template-rows: repeat(3,30%);
    gap: 15px;
    width: 40vw;
    height: 30vh;
    align-content: center;
}

.RatingReview
{
    background-color:hsl(300, 24%, 96%);
     padding-left: 20px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5pt;
    justify-self: self-start;
}

.RatingGuru
{
    background-color: hsl(300, 24%, 96%);
    padding-left: 20px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5pt;
    justify-self: center;
}

.RatingBestTech
{
    background-color: hsl(300, 24%, 96%);
    padding-left: 20px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5pt;
    justify-self: self-end;
}

.review
{
    color:  hsl(300, 43%, 22%);
    font-weight: bold;
    font-size: 13px;
    margin-left: 15px;
}


.Image
{
    border-radius: 50pt;
    width: 40px;
    height: 40px;
    float: left;
}

.Flexrow2
{
    display: flex;
    gap:30px;
    margin-top: 50px;
    height: 35vh;
}

.Comment
{
    border-radius: 5pt;
    padding:30px;
    background-color: hsl(300, 43%, 22%);
}

#Colton
{
    align-self: flex-start;
    flex-wrap: wrap;
}

#Irene
{
    align-self: center;
    flex-wrap: wrap;
}

#Anne
{
    align-self: flex-end; 
    flex-wrap: wrap;
}

.Flexcolumn
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.Name
{
    color: hsl(0, 0%, 100%);
    margin-left: 20px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
}

.Buyer
{
    color: hsl(333, 80%, 67%);
    margin-left: 20px;
    margin-top: 5px;
    font-size: 12px;
}

.ReviewPara
{
    color: hsl(0, 0%, 100%);
    margin-top: 25px;
    font-size: 12px;
    font-weight: normal;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
{
    body
{
    background-image: url("./Images/bg-pattern-top-mobile.svg");
    background-repeat: no-repeat;
}

main
{
    background-image: url("./Images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat;
}

.Flexrow1
{
    justify-content: center;
}

.Intro
{
    width: 100vw;
    text-align: center;
}

.Grid
{
    gap: 10px;
    width: 100vw;
    height: 40vh;
    align-content: center;
    margin-top: 30px;
}

.RatingReview
{
    text-align: center;
}

.RatingGuru
{
    text-align: center;
}

.RatingBestTech
{
    text-align: center;
}

.review
{
    margin-left: 45px;
}

.Flexrow2
{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 20px;
    height: 40vh;
}

.StarImage
{
    padding-left: 45px;
}

}